
body {
	background: #000;
	background-image: url("../../../images/adminbg.jpg");
	background-repeat: no-repeat;
	font-family: Arial;
	background-size: cover;
	padding: 0 6% 6% 6%;
	background-attachment: fixed;
	overflow-x: hidden;
}

.container {
	margin: 5% 20%;
	padding: 40px 100px;
	background: rgba(0,0,0,0.6);
	border-radius: 10px;
	border: 1px solid rgba(255,255,255,0.1);
	text-align: center;
}

.logo {
	margin: 15px auto;
	width: 150px;
	border: 1px solid white;
	border-radius: 50%;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 45px;
    color: white;
    border: none;
    text-align: center;
}

.back {
	text-decoration: none;
	display: block;
	width: 30%;
	height: 20px;
}

table {
	background: rgba(0,0,0,0.6);
	padding: 10px;
}

tr {
	color: white;
}

.header {
	color: white;
}