body {
	background-repeat: no-repeat;
	background-image: url("../images/lrbg3.jpg");
	background-size: 100%;
	background-attachment: fixed;
	background-color: #A5681A;

	padding: 0 25%;
	font-size: 19px;
	font-family: Arial;
	text-align: center;
}

.logo {
	display: block;
	margin: 50px auto 10px auto;
	width: 150px;
	border: 2px dotted gold;
	border-radius: 50%;
}

.container {
	background: rgba(0,0,0,0.3);
	padding: 2% 6% 6% 6%;
	height: auto;
}

a {
	display: block;
	padding: 3%;
	background-color: rgba(0,0,0,0.3);
	margin: 2% 0 15% 0;
	text-decoration: none;
	color: white;

	transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}
	a:hover {
		background-color: rgba(0,0,0,0.7);
	}

.enter {
	width: 200px;
	height: 50px;
	margin-top: 50px;
	background-color: rgba(0,0,0,0.2);
	color: white;
	border: none;

	transition-property: border, background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}
	.enter:hover {
		color: white;
		background-color: rgba(0,0,0,0.7);
	}

p {
	color: white;
}

input {
	width: 75%;
	height: 30px;
}

.attribute {
	/*display: block;*/
}