body {
	background-repeat: no-repeat;
	background-image: url("../images/lrbg3.jpg");
	background-size: 100%;
	background-attachment: fixed;
	background-color: #A5681A;

	padding: 0 25%;
	font-size: 19px;
	font-family: Arial;
	text-align: center;
}

.logo {
	display: block;
	margin: 50px auto 10px auto;
	width: 150px;
	border: 2px dotted gold;
	border-radius: 50%;
}

.container {
	background: rgba(0,0,0,0.3);
	padding: 2% 6% 6% 6%;
	height: auto;
	border-radius: 10px;
}

a {
	display: block;
	padding: 15px;
	background-color: rgba(0,0,0,0.3);
	margin: 2% 0 15% 0;
	text-decoration: none;
	color: white;
	border-radius: 10px;

	transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}
	a:hover {
		background-color: rgba(0,0,0,0.7);
	}

.attribute {
	display: block;
	float: left;
	width: 150px;
}

.enter {
	width: 200px;
	height: 50px;
	margin-top: 50px;
	background-color: rgba(0,0,0,0.2);
	color: white;
	border: none;
	border-radius: 5px;

	transition-property: border, background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}
	.enter:hover {
		color: white;
		background-color: rgba(0,0,0,0.7);
	}

p {
	color: white;
	margin: 0;
	padding-top: 15px;
}

input {
	width: 55%;
	height: 30px;
	border-radius: 10px;
	margin: 10px auto;
	border: 1px solid gold;
}

::-webkit-input-placeholder {
   color: gold;
   text-align: center;
}

h1 {
	color: white;
}

::-webkit-datetime-edit { 
	text-align: center;
	color: gold;
}
::-webkit-datetime-edit-text {
	padding: 0 2px;
}
::-webkit-inner-spin-button { 
	display: none;
}
::-webkit-calendar-picker-indicator {
	background: #E4DFCF;
	color: gold;
	height: 20px;
	width: 25px;
	padding: 5px;
}